site_name: GXM BLOG

theme: 
  name: material
  palette:
    - scheme: default
      primary: teal
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: slate
      primary: grey
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  icon: 
    logo: material/github
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
  language: zh

nav:
  - 个人主页:
    - 欢迎参观我的博客: 个人主页/index.md 
  - 数字IC学习: 
    - 基础总线学习: 数字IC学习/基础总线学习/基础总线学习.md
    - CPU设计学习: 数字IC学习/CPU设计学习/cpu.md
